@model IEnumerable<AllGoodEdu.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Course</h1>

<p>
    <a asp-action="Create" class="button">Open New Course</a>
</p>
<table class="table sortable table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">Name</a>
            </th>
            <th>
                <a href="#">Description</a>
            </th>
            <th>
                <a href="#">Price</a>
            </th>
            <th>
                <a href="#">Category</a>
            </th>
            <th>
                <a href="#">Instructor</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
